.Container {
  width: 650px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragrafo {
  width: 80%;
  height: 10vh;
  background-color: rgb(255, 255, 255);
  border-radius: 0% 1rem 0% 0%;
}
.Container-botoes {
  width: 100%;
  padding: 0 10% 0 10%;
}

.paragrafo p {
  padding: 1%;
}

.copiar {
  width: 80%;
  height: 30px;
  background-color: rgb(31, 10, 49);
  text-decoration: none;
  border: none;
  border-radius: 0.2rem;
  margin: 20px;
  color: white;
}

.botoess {
  display: flex;
  width: 40%;
}

.Botoex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 599px) {
  .Container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .paragrafo {
    width: 80%;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    border-radius: 0% 1rem 0% 0%;
  }

  .Container-botoes {
    width: 100% !important;
  }

  .paragrafo p {
    padding: 1%;
  }

  .copiar {
    width: 80%;
    height: 30px;
    background-color: rgb(31, 10, 49);
    text-decoration: none;
    border: none;
    border-radius: 0.2rem;
    margin: 20px;
    color: white;
  }

  .botoess {
    display: flex;
    width: 40%;
  }

  .Botoex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.Container-botoes{
  display: flex;
  flex-direction: column;
}

.Botoes-pai{
  display: flex;
  width: 100%;
}

.buttonn{
  width: 50%;
}
.buttonnn{
  width: 100%;
  text-decoration: none;
  border: 0.1 solid gray;
  height: 40px;
}