*{
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    padding: 0;
}

.thirdSection{
    background:rgb(162, 162, 162);
    width: 100%;
    height: 93vh;
    padding:20px;
}

.thirdSectionHeader{
    background-color: rgb(255, 255, 255, 0.2);
    height: 7VH;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}

.liink{
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}


.testess2{
    position: absolute;
    bottom: 10%;
    left:5%;
}

.quadrado{
    width: 100%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.511);
    border-radius: 2.5rem;
    margin: 0 auto; 
    margin-bottom:20px;
    margin-top:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}

.thirdSectionHeader{
    text-align: center;
}

.quadrado h1{
    padding: 20px;
    padding-top: 0px;
}

.quadrado-img-div{
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;

}

.quadrado img{
    align-items: center;
    padding: 5px;
    width: 23%;
    
}



.quadradoSec{
    display: flex;
    
    
    width: 100%;
    height: 20%;
    
    
}

.quadradinho{
    padding: 20px;
}

.quadradinho1{
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.511);
    border-radius: 2.5rem;
    margin-right:8px;  
    position: relative;
}
.BOXSVG{
    position: absolute;
    fill: none;
    stroke: black;
    stroke-width: 6;
    margin:10px;
    stroke-dasharray: 190;
    stroke-dashoffset: 190;
}

.BOXSVG:nth-child(1){   
    stroke-dashoffset: 0;
    stroke: rgb(102, 102, 102);
}
.BOXSVG:nth-child(2){   
    stroke: rgb(49, 35, 245);
    transition: stroke-dashoffset 0.8s;
}


.quadradinho2{
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.511);
    border-radius: 2.5rem;
    margin-left:8px;
    position: relative;
}

.retangulo{
    width: 100%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.511);
    border-radius: 2.5rem;
    margin: 0 auto; 
    margin-bottom:20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;

}

.retangulo h2, .retangulo h4{
    padding-left: 20px;
}

.retangulo img{
    width: 29%;
    padding-right: 20px;
}

